{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/password" method="post">
        <div class="form-group">
            <input class="form-control" name="current_password" placeholder="Current Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="new_password" placeholder="New Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Re-Type New Password" type="password">
        </div>
        <p>Password must be between 8 and 16 characters</p>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}