{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    {% if Name %}
    <table class="table table-striped">
        <thead>
           <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Symbol</th>
            </tr>
         </thead>
        <tbody>
            <tr>
                <td>{{ Name }}</td>
                <td>{{ Price }}</td>
                <td>{{ Symbol }}</td>
            </tr>
        </tbody>
     </table>
    {% endif %}
    <form action="/quote" method="GET">
        <button class="btn btn-primary" type="submit">Get New Quote</button>
    </form>
    <form action="/buy" method="GET">
        <button class="btn btn-primary" type="submit">Buy Stock</button>
    </form>
{% endblock %}